<div class="nested-form-wrapper" data-new-record="<%= f.object.new_record? %>">
    <%= f.hidden_field :user_id, value: current_user.id %>
   <div>
    <%= f.label :body %><br>
    <%= f.text_area :body, class: 'form-control' %><br>
  </div>

  <!-Seleção de status->
  <div>
    <%= f.label :status%><br>
    <%=f.select :status, [["Public", "public"], ["Private", "private"], ["Archived", "archived"]], selected: "public", class: 'form-select' %>
  </div>
  
  <!-Div que separa os botões->
  <div class="btnss">
    <button type="button" data-action="nested-form#remove" class="btn">Remove</button>

  </div>
</div>



<style>
.btn{
  margin-top: 5px;
  margin-bottom: 5px;
}
</style>