<%= simple_form_for [ @article, @article.comments.build ] do |f| %>

<div class="nested-form-wrapper bg-blue-200" data-new-record="<%= f.object.new_record? %>">
 <div>
    <%= f.label :body %><br>
    <%= f.text_area :body, class: 'form-control' %><br>
  </div>

  <!-Seleção de status->
  <div>
    <%= f.label :status%><br>
    <%=f.input :status, collection: [('public'), ('private')], label: false%>
  </div>
  
  <!-Div que separa os botões->
  <div class="btnss">
    <button type="button" data-action="nested-form#remove" class="btn">Remove</button>

  </div>
<%end%>

<style>
.btn{
  margin-top: 5px;
  margin-bottom: 5px;
}
</style>