<div class="post-articles font-monospace">
  <h1 class="font-monospace"><%= @article.title %></h1>
  <p class="user_create">Criado por: <%= @article.user.email %></p>

  <p class="font-monospace"><%= @article.body %></p>

  <ul class="op-art">
    <li><%= link_to "Edit", edit_article_path(@article), class: "btn btn-secondary" %></li>
    <li><%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?",
                    
                  },class: "btn btn-danger" %></li>
  </ul>
<%= render @article.comments %>

  <% if user_signed_in? %>

        <%= form_with model: @article,
         data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' } do |f| %>
          
          <template data-nested-form-target="template">
          
            <%= f.fields_for :comments, Comment.new, child_index: 'NEW_RECORD' do |comment_fields| %>
              <%= render "comments/form", f: comment_fields %>
            <% end %>
            
          </template>
            

          <div data-nested-form-target="target"></div>

          <button type="button" data-action="nested-form#add" class="btn btn-primary">Add Comment</button>
          <%= f.submit 'Enviar', class: "btn btn-outline-primary" %>

          <a href="/articles" class="font-monospace btn btn-secondary">Voltar</a>
        <%end%>

  <%end%>


<style>
.post-articles{
  width: 33%;
  margin: 0 auto;
}
.op-art, a{
  list-style :none;
  display: flex;
  gap: 1em;
  padding: 0;
  text-decoration:none;
}
.user_create{
   text-decoration: underline;
   font-size: 12px;
}
</style>
